* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background: #ccc;
    position: relative;
}
header h1 {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    float: left;
    background: pink;
}

header nav {
    float: right;
    width: 700px;
    margin-top: 50px;
}
.gnb {
    width: 100%;
    display: flex;
    text-align: center;
}
.gnb > li {
    width: 25%;
    height: 50px;
    line-height: 50px;
    position: relative;
    background: #bbb;
}
.gnb > li > a {
    display: block;
}
.gnb > li > a:hover {
    background: #333;
    color: #fff;
}
.gnb > li > .sub {
    width: 100%;
    position: absolute;
    display: none;
    background: #777;
}
.gnb > li > .sub > li {
    
}
.gnb > li > .sub > li > a {
    display: block;
}
.gnb > li > .sub > li > a:hover {
    background: #333;
    color: #fff;
}