* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "맑은 고딕", sans-serif;
    color: #222328;
    background: #fff;
}

a {
    text-decoration: none;
    color: #222328;
}

ul {
    list-style-type: none;
}

/* -----------공통---------------- */
.container {
    width: 1200px;
    margin: 0 auto;
    /* background: #ccc; */
    /* outline: 1px solid black; */
}

/* ------------header---------------- */
header {
    height: 100px;
    position: relative;
    z-index: 999;
    background-color: #fff;
}
header h1 {
    position: absolute;
    left: 20px;
    top: 30px;
}

#gnb {
    position: absolute;
    right: 20px;
    top: 35px;
}

/* 1단계 메뉴 */
#gnb .depth1 {
    display: flex;
    text-align: center;
}
#gnb > .depth1 > li {
    width: 120px;
    /* outline: 1px solid #666; */
}
#gnb > .depth1 > li > a {
    /* background: yellow; */
    display: block;
    padding: 8px;
    font-weight: bold;
}
    /* 메뉴 하이라이트 효과 */
#gnb > .depth1 > li > a:hover {
    color: rgb(34, 35, 40, 0.7);
}

/* 2단계 메뉴 */
#gnb .depth2 {
    max-height: 0;
    /* opacity: 0; */
    /* display: none; */

    overflow: hidden;
    transition: 0.4s;
    /* border: 1px solid #ddd; */
}
#gnb .depth2.on {
    max-height: 200px;   
    /* opacity: 1; */
    /* display: block; */
}
#gnb .depth2 > li > a {
    display: block;
    padding: 8px;
    background: #fff;
}
#gnb .depth2 > li > a:hover {
    background: #eee;
}

/* main-visual----------- */
/* main slider */
.slider {
    width: 1200px;
    height: 300px;
    /* outline: 4px solid red; */
    overflow: hidden;
}
.slider .sliders img {
    display: block;
}
.sliders {
    /* 높이값 이동: 1장 = 300px */
    transform: translateY(calc(-300px * 0));
    transition: 0.5s;
}


/* contents 1 */
#main {
    display: flex;
    height: 200px;
    background-color: #fff;
}
#main .col {
    /* outline: 1px solid #666; */
    width: 400px;
    padding: 20px;
}


#notice {
 
}
#notice ul {
    margin-top: 10px;
}
#notice ul li {
    padding: 5px;
}
#notice ul li a {
    display: flex;
    justify-content: space-between;
}



#gallery a {
    display: block;
    height: 100%;
    /* outline: 1px solid red; */
    margin-top: 1em;
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
}
#gallery a img {
    width: 100%;
    height: 100%;
}

/* 탭 버튼 */
#main .tab_btn a.notice-btn,
#main .tab_btn a.gallery-btn {
    /* outline: 1px solid #333; */
    display: inline-block;
    padding: 10px;
}
#main .tab-btn {
    display: flex;
    margin-bottom: 1em;
}
#notice  {
    display: none;
}
#notice.on {
    display: block;
}
#gallery {
    display: none;
}
#gallery.on {
    display: flex;
}


#main .banner1,
#main .banner2 {
    padding: 0;
}





footer {
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
footer .footer-logo {
    width: 200px;
}
footer .copy {

}
footer .SNS {
    width: 200px;
}



.modal {
    position: fixed;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    top: 20%;
    left: 50%;
}
.modal.close {
    display: none;
}
.modal .close-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}